.spin-container {
  position: fixed;
  
  top: 0;
  left: 0;
  
  height: 100vh;
  width: 100vw;
  
  z-index: 100;
  
  background-color: rgba(1, 1, 1, 0.1); 
}

.spin {
  border: 3px solid #0D4B9F;

  width: 200px;
  height: 200px;
  top: calc(50% - 100px);
  left: calc(50% - 100px);

  position: absolute;

  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

#loader2 {
  border: 3px solid #E0EDFF;
  width: 220px;
  height: 220px;

  top: calc(50% - 110px);
  left: calc(50% - 110px);

  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader3 {
  border: 3px solid #005CDC;
  width: 240px;
  height: 240px;

  top: calc(50% - 120px);
  left: calc(50% - 120px);

  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader4 {
  border: 3px solid #94B6E5;
  width: 260px;
  height: 260px;

  top: calc(50% - 130px);
  left: calc(50% - 130px);

  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

@keyframes rotate {
  0% {
    transform: rotateZ(-360deg)
  }
  100% {
    transform: rotateZ(0deg)
  }
}

@keyframes rotate2 {
  0% {
    transform: rotateZ(360deg)
  }
  100% {
    transform: rotateZ(0deg)
  }
}
