<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ .title }}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>

    <link rel="stylesheet" href="https://openlayers.org/en/latest/css/ol.css" type="text/css">
    <link rel="stylesheet" href="index.css">
</head> 
<body>

<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
        <h1 class="subtitle">Fix my track!</h1>
        </a>
    
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        </a>
    </div>
    
    <div class="navbar-menu">
        <div class="navbar-start">
        <a class="navbar-item" href="/what">
            What?
        </a>
        </div>
    </div>
</nav>

<div id="starter" class="app-container">
</div>

<script src="bundle.js"></script>

</body>
</html>
